
.img {
    width: 800px;
    height: 600px;
}

.img2{
    width: 400px;
    height: 250px;
    margin-left: 3px;
    margin-right: 18px;
    padding-top: 2px;
    padding-left: 2px;
    border: 5px;

}

div.row > h3 {
    color: rgb(247, 239, 239);
    border-radius: 100px;
    margin-left: 24px;
    padding-top: 19px;
}

div.row>h2{
    margin-left: 14px;
    padding-top: 10px;
    color: white;
    background-color: rgb(233, 118, 118);

}

.preco {
    font-size: 30px;
    font-weight: 600;
    margin-left: 120px;
    background-color: rgb(43, 194, 43);
    border-radius: 7px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.linkprod{
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
}