<!--imagem-->
    <div class="row pt-3">
      <div class="col"></div>
      <div class="col"><div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/mouse-add1.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/mouse-add5.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/mouse-add3.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/gabinete-add1.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/gabinete-add2.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/gabinete-add3.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/gabinete-add4.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/gabinete3.png" class="d-block img" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div></div>
      <div class="col"></div>
    </div>
    
    <br>
    <br>
    <!--texto-->
    <div class="row pb-4"><h3>Produtos:</h3></div>
    
    <!--divs de produtos-->
    <div class="row">
      <div class="card-group">
        <div class="card" style="margin-right: 30px;">
          <img src="../assets/images/raptor mouse.png" class="card-img-top img2"  >
          <div class="card-body">
            <h5 class="card-title">Mouse Raptor DPI green</h5>
            <p class="card-text">Mouse Raptor R$75,99</p>
          </div>
        </div>
        <div class="card" style="margin-right: 30px;">
          <img src="../assets/images/mouse2.png" class="card-img-top img2" >
          <div class="card-body">
            <h5 class="card-title">Mouse Raptor OM</h5>
            <p class="card-text">Mouse Raptor OM red R$67,99</p>
          </div>     
        </div>
        <div class="card" style="margin-right: 30px;">
          <img src="../assets/images/Mouse/mouse gamer premium.png" class="card-img-top img2" >
          <div class="card-body">
            <h5 class="card-title">Mouse RGB Gamer</h5>
            <p class="card-text">T98 mouse R$84,90</p>
          </div>      
        </div>
      </div>
    </div>
    
    </div>
    
    <!--<div class="container-fluid">
    login e texto
    <div class="row bg-light">
        <div class="col pt-1"><h2>Kaboow</h2></div>
        <div class="col-9"></div>
        <div class="col position">
          <a href="/cadastro"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg></a>
        </div>
      </div> -->
    
    
