<!--imagem-->
    <div class="row pt-3">
      <div class="col">
      </div>
      <div class="col"><div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/mouse-add1.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/mouse-add5.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/mouse-add3.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/pc.jpg" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/pc2.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/teclado-gamer-1.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/gabinete-add4.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/gabinete3.png" class="d-block img" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">voltar</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">próxima</span>
          </button>
        </div>
      </div>
    </div>
      <div class="col"></div>
    </div>
    
    <!--texto-->
    <div class="row pb-4"><h2 class="linkprod"><a href="/produtos" class="linkprod">Outros produtos</a></h2></div>
    
    <!--divs de produtos-->
    <div class="row pb-4"><h3>Mouses</h3></div>
    <div class="row pb-3">
      <div class="card-group">
        <div class="card" style="margin-right: 15px;">
          <a href="/produtos"><img src="../assets/images/raptor mouse.png" class="card-img-top img2"  >
            </a>
          <div class="card-body">
            <h5 class="card-title">Mouse Raptor DPI green</h5>
            <p class="card-text">Mouse Raptor</p>
            <span class="preco">R$75,99</span>
          </div>
        </div>
        <div class="card" style="margin-right: 15px;">
          <a href="/cadastro"><img src="../assets/images/mouse2.png" class="card-img-top img2" >
          </a>
          <div class="card-body">
            <h5 class="card-title">Mouse Raptor OM</h5>
            <p class="card-text">Mouse Raptor OM Red</p>
            <span class="preco">R$67,99</span>
          </div>     
        </div>
        <div class="card" style="margin-right: 15px;">
          <a href="/produtos"><img src="../assets/images/Mouse/mouse gamer premium.png" class="card-img-top img2" >
          </a>
          <div class="card-body">
            <h5 class="card-title">Mouse RGB Gamer</h5>
            <p class="card-text">T98 Mouse</p>
            <span class="preco">R$67,99</span>
          </div>      
        </div>
      </div>
    </div>

    <div class="row pb-4"><h3>Gabinetes</h3></div>
    <!--divs de produtos-->
    <div class="row pb-3">
      <div class="card-group">
        <div class="card" style="margin-right: 15px;">
          <a href="/produtos"><img src="../assets/images/gabinete-add2.png" class="card-img-top img2" >
            </a>
          <div class="card-body">
            <h5 class="card-title">Gabinete Branco</h5>
            <p class="card-text">Gabinete Gamer Branco (No RGB)</p>
            <span class="preco">R$312,90</span>
          </div>
        </div>
        <div class="card" style="margin-right: 15px;">
          <a href="/cadastro"><img src="../assets/images/gabinete-add1.png" class="card-img-top img2" >
          </a>
          <div class="card-body">
            <h5 class="card-title">Gabinete Gamer RGB</h5>
            <p class="card-text">Gabinete Gamer</p>
            <span class="preco">R$340,99</span>
          </div>     
        </div>
        <div class="card" style="margin-right: 15px;">
          <a href="/produtos"><img src="../assets/images/gabinete3.png" class="card-img-top img2" >
          </a>
          <div class="card-body">
            <h5 class="card-title">Gabinete MT-G70</h5>
            <p class="card-text">Gabinete Gamer Preto</p>
            <span class="preco">R$475,99</span>
          </div>      
        </div>
      </div>
    </div>