.container{
    width: 500px;
    height: 600px;
    background-color: rgb(243, 101, 101);
    border-radius: 20px;
    text-shadow: 3cm, 2cm black;
}

.p2{
    color: black;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 4px;
    background-color: white;

}

.botaocss{
    color: black;
    border: 1px solid;  
    border-color: white;
    width: 145px;
    height: 40px;  
    outline-color: white;
    border-radius: 5px;
    
    
}

.botao{
    padding-top: 50px;
}

.linik{
    color: black;
    text-decoration: none;
}

.col3{
    padding-top: 10px;

}

.col2{
    padding-top: 4px;
    color: white;
    font-size: 18px;
    width: 450px;
    border-radius: 5px;
    padding-left: 55px;
    padding-right: 25px;
}


.p{
    align-content: center;
    padding-left: 185px;
    padding-bottom: 10px;
    color: white;

}

.textboxcss{
    color: black;
    border: 1px solid;  
    box-shadow: none;
    border-color: white;
    text-shadow: none;
    width: fill;
    outline-color: white;
    border-radius: 5px;
}
