<div class="container">
    <div class="row">
        <div class="col">
            <div class="col3">
                <h3><p class="p">Cadastro</p></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                <h5>
                    Nome*
                </h5>
                <p class="p2">
                    <input class="textboxcss" type="textbox" maxlength="20">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                <h5>
                    Sobrenome
                </h5>
                <p class="p2">
                    <input class="textboxcss" maxlength="25" type="email">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                <h5>
                    E-mail*
                </h5>
                <p class="p2">
                    <input class="textboxcss" type="textbox">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                <h5>
                    Senha*
                </h5>
                <p class="p2">
                    <input class="textboxcss" type="textbox">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                <h5>Confirmar senha*</h5>
                <p class="p2">
                    <input class="textboxcss" type="textbox">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="botao">
                <button type="button" type="submit" class="botaocss"><a href="" class="linik">Cadastrar-se</a></button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>