<div class="container">
    <div class="row">
        <div class="col">
            <div class="col3">
                <h3><p class="p">Cadastro</p></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                Nome*
                <p class="p2">
                    <input class="textboxcss" type="textbox" maxlength="20">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                Sobrenome
                <p class="p2">
                    <input class="textboxcss" maxlength="25" type="email">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                E-mail*
                <p class="p2">
                    <input class="textboxcss" type="textbox">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                Senha*
                <p class="p2">
                    <input class="textboxcss" type="textbox">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col2">
                Coonfirmar senha*
                <p class="p2">
                    <input class="textboxcss" type="textbox">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="botao">
                <button type="button" type="submit" class="botaocss">Cadastrar-se</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>