<div class="container">
    <div class="row">
        <div class="col">
            <div class="textbox">
                Cadastro
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="textbox">
                Nome:
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="textbox">
                Sobrenome:
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="textbox">
                E-mail:
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="textbox">
                Sobrenome:
            </div>
        </div>
    </div>
</div>
